/* Body.css */
.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 150px;
  margin-left: 200px;
}

.left-image {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.left-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.left-image img:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed for the hover effect */
}

.BodyHeder {
  flex: 1;
  padding: 20px;
  margin-left: 50px;
}

.Header {
  font-size: 50px; /* Adjust font size for better mobile experience */
  margin-top: 0; /* Reset margin for mobile view */
  margin-bottom: 20px; /* Adjusted margin for better spacing */
  margin-left: 0; /* Reset margin for mobile view */
  color: rgb(83, 83, 83);
}

.subHeader {
  margin-top: -20px; /* Adjusted margin for better spacing on mobile */
}

.paragraph {
  margin-bottom: 10px;
  margin-top: 0; /* Reset margin for mobile view */
  margin-left: 0; /* Reset margin for mobile view */
  max-width: 800px;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.7;
}

.Button {
  margin-left: 0; /* Reset margin for mobile view */
  margin-top: 10px;
  width: 150px; /* Set width to 100% for full width on mobile */
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Additional styles for smaller screens, if needed */
@media (max-width: 768px) {
  .body-container {
    flex-direction: column;
    text-align: center;
    margin-top: 160px; /* Reset margin for mobile view */
    margin-left: 0; /* Reset margin for mobile view */
    
  }

  .left-image {
    margin-left: 0; /* Reset margin for mobile view */
  }

  .left-image img {
    margin-bottom: 10px; /* Adjusted margin for better spacing on mobile */
  }

  .BodyHeder {
    width: 100%;
    margin-left: 0; /* Reset margin for mobile view */
  }
}
